# **SOBRE OS DADOS**

---

**Carregando os dados**

In [7]:
import json
from pandas import DataFrame

path = r"Q:\financial_data_pipelines\data\pipelines\b3_companies_page_all\raw\json\data.json"
with open(path, "r", encoding="utf-8") as f:
    df = json.load(f)
        
df = DataFrame(df["empresas"])

---

In [8]:
df.tail(3)

     info_bloco_title2  ... outros_codigos_de_negociacao
3200              PINF  ...                           []
3201              PMIC  ...                           []
3202              RBRE  ...                           []

[3 rows x 12 columns]

In [9]:
# colunas
df.columns

Index(['info_bloco_title2', 'info_bloco_title', 'info_bloco_text',
       'nome_pregao', 'codigo', 'cvm', 'inicio', 'cnpj', 'atividade',
       'setorial', 'site', 'outros_codigos_de_negociacao'],
      dtype='object')

In [10]:
# dados faltantes
df.isna().sum()

info_bloco_title2                  0
info_bloco_title                   0
info_bloco_text                    0
nome_pregao                       48
codigo                          2546
cvm                             2550
inicio                          2824
cnpj                            1305
atividade                       2665
setorial                        2318
site                            2801
outros_codigos_de_negociacao       0
dtype: int64

In [ ]:
# dados repetidos
df["info_bloco_title2"].duplicated().any()

np.False_

In [26]:
df["info_bloco_title"].duplicated().any()

np.False_

In [27]:
df["info_bloco_text"].duplicated().any()

np.True_

In [ ]:
df["info_bloco_text"].value_counts()[df["info_bloco_text"].value_counts() > 1]

info_bloco_text
EOLICAFEIJAO    4
SERRADASVACA    3
GLOBAL INFRA    2
ASSURUA         2
EOLICAVERMEL    2
CONCESSIONÁR    2
NEOENERGIA      2
ORIZON          2
LARANJEIRASI    2
SOLFACIL SEC    2
THOPEN SOLAR    2
VERT PRIVATE    2
MULTIPLAN       2
Name: count, dtype: int64

In [ ]:
df["codigo"].duplicated().any()

np.True_

In [ ]:
df["codigo"].value_counts()[df["codigo"].value_counts() > 1]

codigo
AESO3     2
AURE99    2
Name: count, dtype: int64

In [31]:
df[df["codigo"] == "AESO3"]

    info_bloco_title2  ... outros_codigos_de_negociacao
118              ALAL  ...      [[AESO3, BRAESOACNOR0]]
276              AESO  ...      [[AESO3, BRAESOACNOR0]]

[2 rows x 12 columns]

In [32]:
df[df["codigo"] == "AURE99"]

    info_bloco_title2  ...                     outros_codigos_de_negociacao
117              ATGP  ...  [[AURE3, BRAUREACNOR9], [AURE99, BRAURECDAXX9]]
275              AURE  ...  [[AURE3, BRAUREACNOR9], [AURE99, BRAURECDAXX9]]

[2 rows x 12 columns]